<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>우리반정보</h1>
    <h3>Teacher</h3>
    <ul>
        <li>
            edujunho
        </li>
    </ul>
    <h3>Student</h3>
    <ul>
        <li>비담 정세민</li>
        <li>핑프 성홍준</li>
        <li>할말하않 조성원</li>
        <li>문찐 유승주</li>
        <li>TMI 박경철</li>
        <li>법블레스U 김연주</li>
    </ul>
    
    
</body>
</html>