<!--base를 가져 오는 것-->
{% extends "base.html" %}
{% block title %} INDEX {% endblock %}
{% block head %}
    <!--부모것을 가져 오겠다.-->
    {{ super() }}
    <!--추가하는 방법, 그냥 가져다 쓰면 위에것이 무시됨-->
    <!--<linsk rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->
{% endblock %}

{% block body %}
    <form action="/users/create">
        <input type="text" name="username"/>
        <input type="email" name="email"/>
        <input type="submit" name="Submit"/>
        
    </form>
    
    <ul>
        {% for user in users %}
            <li>
                저장완료    {{ user.username }} {{user.email}}
                <a href="/users/delete/{{ user.id }}"> [DELETE] </a>
                <a href="/users/edit/{{ user.id }}"> [EDIT] </a>
            </li>
            
        {% endfor %}
        
    </ul>
{% endblock %}


