<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
    .completed{
        text-decoration: line-through;
        opacity: 0.6;

    }
    </style>

</head>
<body>

    <div v-bind:style="{ color:activeColor, fontSize: fontSize + 'px' }"></div>
    <div id="app">
        <select v-model='status'>
            <option value="all" selected>all</option>
            <option value="active">active</option>
            <option value="completed">completed</option>

        </select>
        <!-- <li v-for="todo in todos" v-if="!todo.completed" v-on:click = "check(todo)"> -->
        <!-- <li v-for="todo in todos" v-bind:class="{completed: todo.completed}" v-on:click = "check(todo)"> -->
        <!-- <li v-for="todo in todos" v-bind:class="{completed: todo.completed}"> -->
        <li v-for="todo in todosByStatus" v-bind:class="{completed: todo.completed}" v-bind:key="todo.id">
            <!-- completed false 인것 만 나옴 -->
            <input type="checkbox" v-model="todo.completed">
            <span>{{ todo.content }}</span>
            
        </li>
        <!-- <li v-else v-on:click="check(todo)">
            [완료!]
        </li> -->


        <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
        <button @click="addTodo">+</button>
        <footer>
            <button @click="">Clear</button>
        </footer>
        <span>{{ reversedNewTodo }}</span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  
    <script>
        const STORAGE_KEY = 'vue-todos'
        const todoStorage = {
            fetch: function () {
                return JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]')
            },
            save: function (todos) {
                localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
            }
        }



        //const vm (viewmodel)
        const app = new Vue({
            el: '#app',
            data:{  //data는 객체형식으로 들어감
                // todos: [
                //     {
                //         id:1,
                //         content:'점심 메뉴 고민',
                //         completed: true,
                //     },
                //     {
                //         id:2,
                //         content:'사다리타기',
                //         completed: false,
                //     },
                //     {
                //         id:3,
                //         content:'야외수업 하기',
                //         completed: false,
                //     },
                //     {
                //         id:4,
                //         content:'야자하기',
                //         completed: false,
                //     },
                // ],
                todos: todoStorage.fetch(),

                newTodo:'',
                status: 'all'
            },
            methods: {
                check: function (todo){

                    todo.completed = !todo.completed  //반대로 바꿔준다.
                },
                
                addTodo: function(){
                    this.todos.push({
                        id:Date.now(),
                        content: this.newTodo,
                        completed: false,
                    })
                    this.newTodo = ''
                    
                },
                
                claerCompleted: function() {
                    //filter로 false 애들만 필터해서 todos에 다시 할당.
                    const notCompletedTodos = this.todos.filter(todo => !todo.completed)
                    this.todos = notCompletedTodos
                },
                
                
            },
            computed: {
                todosByStatus:function(){
                    if (this.status === 'active'){
                        return this.todos.filter(todo=> !todo.completed)
                    }
                    if (this.status === 'completed'){
                        return this.todos.filter(todo => todo.completed)
                    }
                    return this.todos
                },
                reversedNewTodo: function () {
                    return this.newTodo.split('').reverse().join('')
                }
            },
            watch: {
                todos: {
                    handler: function(todos){
                        todoStorage.save(todos)
                    },
                    deep: true,
                }
            }
        })
    </script>


</body>
</html>